.product-list {
  display: grid;
  gap: 22px;
  grid-template-columns: repeat(1, 1fr);
  align-items: start;
}

@media (min-width: 520px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 860px) {
  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .product-list {
    grid-template-columns: repeat(4, 1fr);
  }
}